@import "../../../styles/variables.scss";

.menu {
  &__item {
    display: flex;
    align-items: center;
  }
  &__link {
    text-decoration: none;
    color: $grey-light;
    font-size: 1rem;
    font-weight: 300;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    &:hover {
      transition: 0.5s;
      color: $white;
    }
  }
}
