@import "../../../../styles/variables.scss";

.article {
  display: flex;
  align-items: center;
  gap: 0.94rem;

  &__image {
    position: relative;
    padding-bottom: 20%;
    padding-left: 31%;
    min-height: 91px;
    min-width: 142px;
    &.blog {
      padding-bottom: 75%;
      padding-left: 100%;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &.blog {
      padding: 1.25rem;
    }
  }

  &__tag {
    display: inline-block;
    font-weight: 500;
    margin-bottom: 0.5rem;
    line-height: 1.43;
    padding: 0.125rem 0.625rem;
    background: $scroll;
    border-radius: 1rem;
    white-space: nowrap;
  }

  &__text {
    display: block;
    font-size: 1.125rem;
    line-height: 1.127;
    text-decoration: none;
    color: $white;
  }
  &__link {
    margin-left: auto;
    a {
      padding: 0.72rem 0.82rem;
    }
    &.blog {
      margin: 0;
      margin-right: auto;
      padding-left: 1.25rem;
      margin-bottom: 1.25rem;
      position: relative;
      a {
        padding: 0;
        text-decoration: underline;
        text-transform: uppercase;
        background: $bg-linear;
        background-clip: text;
        color: transparent;
        border-bottom: 1px solid transparent;
        border-image: $bg-linear 1;
        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          background: $bg-linear;
          filter: blur(20px);
          z-index: 1;
          transition: all 0.5s ease 0s;
          opacity: 0;
        }
        &:hover::before {
          opacity: 1;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .article {
    &__image {
      padding-bottom: 10%;
      padding-left: 16%;
    }
  }
}

@media (max-width: 767px) {
  .article {
    &__link {
      display: none;
      &.blog {
        display: inline-block;
      }
    }
  }
}

@media (max-width: 479px) {
  .article {
    gap: 0.625rem;
    &__text {
      font-size: 0.875rem;
    }
    &__image {
      min-height: 71px;
      min-width: 101px;
    }
  }
}
