.partner {
  position: absolute;
  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6.25rem;
    height: 6.25rem;
    padding: 0.94rem;
    background: url("../../../../public/assets/vector/ClientBg.svg") no-repeat
      center / 100%;
    & img {
      max-width: 4.375rem;
    }
  }
}

.partner:nth-of-type(1) {
  top: 50%;
  left: 23%;
  animation: bounce ease 8s infinite;
}
.partner:nth-of-type(2) {
  top: 29%;
  left: 26%;
  animation: bounce ease 6s infinite;
}
.partner:nth-of-type(3) {
  top: 11%;
  left: 33%;
  animation: bounce ease 7s infinite;
}
.partner:nth-of-type(4) {
  top: 3%;
  left: 47%;
  animation: bounce ease 6s infinite;
}
.partner:nth-of-type(5) {
  top: 11%;
  left: 60%;
  animation: bounce ease 8s infinite;
}
.partner:nth-of-type(6) {
  top: 29%;
  left: 68%;
  animation: bounce ease 6s infinite;
}
.partner:nth-of-type(7) {
  top: 50%;
  left: 71%;
  animation: bounce ease 7s infinite;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.9);
  }
  70% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
