@import "../../../styles/variables.scss";

.partners {
  margin-bottom: 7.5rem;
  &__container {
    text-align: center;
    max-width: 75rem;
    margin: 0 auto;
    margin-bottom: 3.625rem;
  }
  &__body {
    margin: 0 auto;
    max-width: 65.9rem;
  }
  &__content {
    &::before {
      content: "";
      position: absolute;
      top: 60%;
      left: 50%;
      width: 40%;
      height: 40%;
      background: $bg-linear;
      filter: blur(105px);
      transform: translate(-50%, -50%) rotate(-30deg);
      z-index: -1;
    }
    position: relative;
    padding-bottom: 70%;
  }
  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media (max-width: 1200px) {
  .partners {
    &__subtitle {
      font-size: 2rem;
    }
  }
}
