@import "../../../styles/variables.scss";

.title_h2 {
  display: inline-block;
  margin-bottom: 0.75rem;
  font-size: 1rem;
  line-height: 1.3;
  font-weight: 500;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  background: $bg-linear;
  background-clip: text;
  color: transparent;
}
.title_h3 {
  margin-bottom: 0.75rem;
  font-weight: 600;
  line-height: 1.2;
  font-size: 3rem;
}
