@import "../../../styles/variables.scss";

.service {
  position: relative;
  margin-bottom: 7.5rem;
  &::before {
    content: "";
    position: absolute;
    top: 5%;
    right: -27%;
    width: 28.1rem;
    height: 8.5rem;
    background: $bg-linear;
    filter: blur(100px);
    transform: translate(-55%, -60%) rotate(-25deg);
  }
  &__container {
    padding: 0 0.94rem;
  }
  &__top {
    display: flex;
    gap: 2.5rem;
    position: relative;
    margin-bottom: 2.8rem;
  }
  &__column {
    &:first-child {
      flex: 45%;
    }
    &:last-child {
      flex: 55%;
    }
  }
  &__text {
    color: $grey;
    font-size: 1rem;
    line-height: 200%;
  }
  &__content {
    padding-bottom: 7.5rem;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -0.94rem -1.875rem;
  }
}
