@import "../../../styles/variables.scss";

.advantages {
  position: relative;
  margin-bottom: 7.5rem;
  &__container {
    padding: 0 0.94rem;
    max-width: 75rem;
    margin: 0 auto;
  }
  &__body {
    padding: 3.44rem 2.45rem 0 2.45rem;
    border: 0.01rem solid transparent;
    border-image: $border;
    background: $black-light;
  }
  &__content {
    display: flex;
    flex-wrap: wrap;
  }
}
