@import "../../../styles/variables.scss";

.menu {
  &__list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
  }
  &__list_mobile {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    list-style-type: none;
  }
}
