$purple: #ca6aeb;
$blue: #19b5f1;
$red: #ff4747;
$green: #00c566;
$yellow: #facc15;
$black: #181818;
$black-light: #252532;
$grey: #b0b0b2;
$grey-light: #d1d1d1;
$white: #ffffff;
$bg-header: rgba(37, 37, 50, 0.7);
