@import "../../../styles/variables.scss";

.titlePage {
  margin-bottom: 7.5rem;
  margin-top: 5rem;
  text-align: center;
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 75rem;
    margin: 0 auto;
    gap: 3rem;
    padding: 0 0.94rem;
  }
  &__title {
    font-size: 4rem;
    font-weight: 600;
    line-height: 1.42;
  }
  &__top {
    position: relative;
    &::before {
      position: absolute;
      content: "";
      top: 50%;
      left: 50%;
      width: 120%;
      height: 130%;
      background: $ellipse;
      transform: translate(-50%, -50%) rotate(10deg);
      border-bottom-right-radius: 100%;
      border-top-left-radius: 50%;
      border-top-right-radius: 50%;
      filter: blur(60px);
      z-index: -1;
    }
  }
  &__bottom {
    display: block;
  }
  &__links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  &__link {
    text-decoration: none;
    color: $white;
    font-size: 1rem;
  }
  &__image {
    width: 0.5rem;
    height: 0.5rem;
    transform: rotate(-90deg);
  }
  &__underline {
    background: $bg-linear;
    height: 1px;
    width: 100%;
    margin-top: 2rem;
  }
}

@media (max-width: 479px) {
  .titlePage {
    &__title {
      font-size: 3rem;
    }
  }
}
