@import "../../../styles/variables.scss";

.item {
  &:not(:last-child) {
    margin-bottom: 2.8rem;
  }
  &__button {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-family: "ChakraPetch";
    font-weight: 500;
    line-height: 1.3;
    font-size: 1.25rem;
    padding: 0.625rem 0;
    color: $white;
    background: transparent;
    border: none;
    border-bottom: 1px solid $grey;
    img {
      transition: all 0.5s ease 0s;
      transform: rotateX(0deg);
    }
    &.active {
      img {
        transform: rotateX(180deg);
      }
    }
  }
  &__text {
    font-weight: 300;
    font-size: 1rem;
    line-height: 175%;
    color: $grey-light;
    height: 0rem;
    overflow: hidden;
    transition: all 0.5s ease 0s;
    &.active {
      padding-top: 0.75rem;
      height: 8rem;
    }
  }
}
