@import "../../../styles/variables.scss";
.articles {
  margin-bottom: 7.5rem;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    left: -29%;
    bottom: -40%;
    width: 68.75rem;
    height: 45rem;
    background: url("../../../../public/assets/vector/HeroBg.svg") center
      no-repeat;
    z-index: -1;
  }
  &__container {
    padding: 0 0.94rem;
    max-width: 75rem;
    margin: 0 auto;
  }
  &__body {
    display: flex;
    gap: 2.81rem;
    position: relative;
  }
  &__column {
    &:first-child {
      flex: 0 0 55%;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 25rem;
        height: 8rem;
        background: $bg-linear;
        filter: blur(71px);
        transform: translate(-20%, -20%) rotate(-25deg);
        z-index: -1;
      }
    }
    &:last-child {
      flex: 0 0 45%;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: -6.25rem;
        right: 0;
        width: 500%;
        height: 37.5rem;
        background: $black-light;
        border: 0.01rem solid transparent;
        border-image: $border;
        z-index: -1;
      }
    }
  }
  &__title {
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 1.29;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  &__list {
    padding-right: 2.81rem;
    height: 31.25rem;
    overflow: auto;
    &::-webkit-scrollbar {
      width: 2px;
      background: $scroll;
    }
    &::-webkit-scrollbar-thumb {
      background: $white;
    }
  }
  &__item {
    list-style-type: none;
    padding-bottom: 2rem;
    &:not(:last-child) {
      margin-bottom: 2rem;
      border-bottom: 1px solid $grey;
    }
  }
  &__btn_mobile {
    display: none;
    justify-content: center;
    & .btn {
      color: $white;
      text-transform: uppercase;
      & span {
        font-weight: 600;
        letter-spacing: 0.1rem;
      }
    }
  }
}

.top {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 2.5rem;
  margin-bottom: 6.25rem;
  &__btn {
    color: $white;
    text-transform: uppercase;
    & span {
      font-weight: 600;
      letter-spacing: 0.1rem;
    }
  }
}

@media (max-width: 1350px) {
  .articles {
    &__column {
      &:first-child {
        flex: 0 0 50%;
      }
      &:last-child {
        flex: 0 1 50%;
      }
    }
  }
}

@media (max-width: 1200px) {
  .articles {
    margin-bottom: clamp(5rem, 4.1rem + 4.55vw, 7.5rem);
    &__body {
      gap: 1.875rem;
    }
  }
}

@media (max-width: 991px) {
  .articles {
    &__body {
      display: block;
    }
    &__column {
      width: 100%;
      &:first-child {
        margin-bottom: 1.875rem;
      }
      &:last-child {
        &::before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: $black-light;
          border: 1px solid transparent;
          border-image: $border;
        }
      }
    }
    &__overflow {
      padding: 1.25rem 0.94rem;
    }
    &__list {
      padding-right: 20px;
    }
  }
}

@media (max-width: 767px) {
  .articles {
    &__body {
      margin-bottom: 1.875rem;
    }
    &__btn_mobile {
      display: flex;
    }
  }
  .top {
    margin: 0;
    &__btn {
      display: none;
    }
  }
}
