@import "../../../styles/variables.scss";

.card {
  padding: 0 0.94rem;
  margin-bottom: 1.875rem;
  flex: 0 0 33.333%;
  position: relative;
  &__body {
    padding: 2.375rem 2rem 1.5rem;
    background: $black-light;
    border: 0.01rem solid transparent;
    border-image: $border;
    position: relative;
    cursor: pointer;
    height: 100%;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $black-light;
      transition: 0.3s;
      opacity: 0;
    }
    &:hover {
      border-image: linear-gradient(to right, $blue, $purple) 1;
      &::before {
        transition: 0.3s;
        opacity: 0.8;
      }
      .card__link {
        transform: translateY(-50%);
        transition: 0.3s;
        opacity: 1;
      }
    }
  }

  &__image {
    width: 3rem;
    height: 3rem;
    margin-bottom: 3.75rem;
    position: relative;
  }
  &__title {
    margin-bottom: 0.75rem;
    font-size: 1.25rem;
    line-height: 1.3;
  }

  &__text {
    color: $grey;
    line-height: 200%;
  }
  &__link {
    position: absolute;
    right: 27%;
    bottom: 0;
    transition: all 0.3s ease 0s;
    opacity: 0;
    & span {
      font-weight: 600;
      color: $white;
      text-transform: uppercase;
      letter-spacing: 1.5px;
    }
  }
}

.card:nth-of-type(2),
.card:nth-of-type(5) {
  top: 3.75rem;
}

.card:nth-of-type(3),
.card:nth-of-type(6) {
  top: 7.5rem;
}
