@import "../../../styles/variables.scss";

.linkTransparent {
  display: inline-block;
  cursor: pointer;
  font-size: 1rem;
  color: $grey-light;
  padding: 0.75rem 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.1rem;
  border: 1px solid transparent;
  border-image: $bg-linear 1;
  background: transparent;
  position: relative;
  text-decoration: none;
  z-index: 1;
  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: $bg-linear;
    transition: opacity 0.3s ease-out;
    z-index: 2;
    opacity: 0;
  }
  &__text {
    position: relative;
    font-family: "ChakraPetch";
    font-weight: 300;
    font-size: 1rem;
    z-index: 3;
  }
  &__image {
    position: relative;
    z-index: 3;
  }
  &:hover {
    color: $white;
  }
  &:hover::after {
    opacity: 1;
  }
}
