.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: url("../../public/assets/vector/BodyBg.svg") no-repeat top right;
  overflow: clip;
}

.page {
  position: relative;
  padding-top: 6.5rem;
}
