@import "../../../styles/variables.scss";

.subscribe {
  margin-bottom: 7.5rem;
  &__container {
    padding: 0 0.94rem;
    max-width: 75rem;
    margin: 0 auto;
  }
  &__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.5rem;
    background: $bg-linear;
    border-radius: 4px;
    padding: 2.5rem 4.375rem 1.875rem;
  }
  &__column {
    flex: 0 1 50%;
    &:first-child {
      flex-shrink: 0;
    }
    &:last-child {
      display: flex;
      justify-content: flex-end;
    }
  }
  &__title {
    font-size: 2.375rem;
    font-weight: 600;
    line-height: 1.45;
  }
}

.form {
  display: flex;
  width: 22.81rem;
  flex: 0 1 22.81rem;
  background: $input;
  padding: 0 0 0 1rem;
  &__image {
    max-width: 25px;
  }
  &__input {
    border: none;
    height: 100%;
    width: 100%;
    background: transparent;
    color: $white;
    padding: 0.875rem 5.75rem 0.875rem 0.875rem;
    &::placeholder {
      color: $white;
      text-align: start;
      transition: all 0.3s ease 0s;
      opacity: 1;
    }
    &:hover::placeholder {
      opacity: 0.5;
    }
  }
  &__btn {
    cursor: pointer;
    padding: 0.92rem;
    border: none;
    background: rgba(255, 255, 255, 0.2);
  }
}

@media (max-width: 1200px) {
  .subscribe {
    margin-bottom: clamp(5rem, 4.1rem + 4.55vw, 7.5rem);
    &__body {
      padding: 1.875rem 3.125rem;
    }
  }
}

@media (max-width: 991px) {
  .subscribe {
    &__body {
      padding: 1.25rem 2.5rem;
      gap: 1.875rem;
    }
    &__title {
      font-size: 1.875rem;
    }
    &__column {
      &:first-child {
        flex: 1 1 auto;
      }
    }
  }
}

@media (max-width: 767px) {
  .subscribe {
    &__body {
      padding: 1.25rem 0.625rem;
      display: block;
    }
    &__column {
      &:first-child {
        text-align: center;
        margin-bottom: 1.25rem;
      }
      &:last-child {
        justify-content: center;
      }
    }
  }
}

@media (max-width: 479px) {
  .subscribe {
    &__title {
      font-size: 1.5rem;
    }
  }
}
