@import "../../../../styles/variables.scss";

.container {
  .buttonGradient {
    border: none;
    background-image: $bg-linear;
    color: $white;
    font-size: 1rem;
    text-transform: uppercase;
    font-family: "ChakraPetch";
    font-weight: 600;
    letter-spacing: 0.1rem;
  }
}
