@import "../../../../styles/variables.scss";

.container {
  .buttonGradient {
    border: none;
    background-image: $bg-linear;
    padding: 0.7rem 1.6rem;
    color: $white;
    text-transform: uppercase;
    font-family: "ChakraPetch";
    font-weight: 600;
  }
}
