.testimonial {
  margin-bottom: 7.5rem;
  &__container {
    padding: 0 0.94rem;
    position: relative;
    max-width: 75rem;
    margin: 0 auto;
  }
  &__top {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 8%;
    left: 0%;
  }
  &__body {
    display: flex;
    justify-content: center;
    position: relative;
  }
  &__image {
    width: 78.125rem;
    height: 78.125rem;
  }
}

@media (max-width: 1200px) {
  .testimonial {
    margin-bottom: clamp(5rem, 4.1rem + 4.55vw, 7.5rem);
  }
}

@media (max-width: 991px) {
  .testimonial {
    &__image {
      width: 62.5rem;
      height: 62.5rem;
    }
  }
}

@media (max-width: 767px) {
  .testimonial {
    &__top {
      position: static;
      margin-bottom: 1.875rem;
    }
  }
}
