.testimonial {
  margin-bottom: 7.5rem;
  &__container {
    padding: 0 0.94rem;
    position: relative;
    max-width: 75rem;
    margin: 0 auto;
  }
  &__top {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 8%;
    left: 0%;
  }
  &__body {
    display: flex;
    justify-content: center;
    position: relative;
  }
}
